<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Semel Secure Message</title>
  <link rel="icon" href="data:image/svg+xml,<%= URI.encode_path(render("src/images/logo.svg")) %>" type="image/svg+xml" />
  <style>
    /* Default */
    :root {
      --header-margin: 121px 0 81px 0;
      --footer-margin: 121px 16px;
      --gutter-width: 16px;
      --label-margin: 50px 0 10px 0;
      --explanation-margin: 100px 0 0 0;
      --body-grid-template-rows: auto auto auto; /* center vertically */
    }

    /* Mobile */
    @media (max-width: 639px) {
      :root {
        --header-margin: 24px 12px;
        --footer-margin: 24px 12px;
        --gutter-width: 12px;
        --label-margin: 16px 0 8px 0;
        --explanation-margin: 32px 0 0 0;
        --body-grid-template-rows: min-content 1fr auto; /* "bring to top", header with fixed height */
      }
    }

    * {
      box-sizing: border-box;
      font-family: "Arial", sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.5);
    }

    body {
      margin: 0;
      height: 100vh;

      display: grid;
      grid-template-columns: var(--gutter-width) minmax(100px, 684px) var(--gutter-width);
      grid-template-rows: var(--body-grid-template-rows);
      grid-template-areas:
        "header header header"
        ".      main   .     "
        "footer footer footer";
      justify-items: center;
      justify-content: center;
    }

    header {
      grid-area: header;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: var(--header-margin);
      text-align: center;
      text-wrap: balance;
    }
    main {
      grid-area: main;
      width: 100%;
    }
    footer {
      grid-area: footer;
      align-self: end;
      margin: var(--footer-margin);
    }

    h1 {
      font-size: 28px;
      color: rgba(0, 0, 0, 1.0);
    }
    h2 {
      font-size: 18px;
      font-weight: 300;
    }
    a {
      color: #000000;
    }

    header > span {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.5);
    }

    label {
      color: rgba(0, 0, 0, 1.0);
      display: block;
      font-size: 18px;
      margin: var(--label-margin)
    }

    input[type=text], select, textarea, button {
      width: 100%;
      padding: 12px;
      background: rgba(0, 0, 0, 0.06);
      border: none;
      border-radius: 10px;
      box-sizing: border-box;
    }
    input[type=text] {
      margin-bottom: 12px;
    }
    select {
      cursor: pointer;
      height: 51px;
    }
    textarea {
      resize: vertical;
    }
    button {
      color: white;
      background: rgba(0, 0, 0, 1.0);
      cursor: pointer;
      height: 51px;
    }
    #sharable-container button {
      background: #F0F0F0;
      border: 1px solid rgba(0, 0, 0, 0.2);
      color: rgba(0, 0, 0, 0.75);
      font-size: 14px;
      padding: 10px;
      height: 37px;
      line-height: 17px;
    }
    #sharable-container textarea {
      margin: 5px 0;
      font-family: monospace;
    }
    #explanation {
      margin: var(--explanation-margin);
    }

    summary {
      cursor: pointer;
    }
    pre {
      font-family: monospace;
      white-space: pre-wrap;
    }

    #form-new-header svg {
      transform: rotate(0);
    }
    #form-try-header svg {
      transform: rotate(180deg);
    }

    input[type="text"], select, textarea {
      outline: none;
    }
    input[type="text"]:focus, select:focus, textarea:focus {
      color: #000000;
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.9);
      transition: box-shadow 0.3s ease-in-out;
    }

    select {
      appearance: none;
    }
    .select-icon-hack {
        position: relative;
    }
    .select-icon-hack:after {
      content: "▼";
      color: rgba(0, 0, 0, 0.25);
      position: absolute;
      right: 16px;
      top: 13px;
      pointer-events: none;
      transform: scaleY(0.8);
    }
  </style>
</head>
<script id="script-global">
  if (!window.isSecureContext) {
    alert('Insecure! Please visit with HTTPS');
    window.history.back();
  }
</script>
<body>

<%= content %>

<footer>
  <p>Semper Semel Simplex</p>
</footer>
</body>
</html>
