<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>Semel Secure Message</title>
  <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='14'%20style='filter:hue-rotate(42deg);'%3E🔒%3C/text%3E%3C/svg%3E" type="image/svg+xml" />
  <style>
    body {
      font-family: Georgia, Times, "Times New Roman", serif;
    }

    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }

    button {
      background-color: #0478AA;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
    }

    button:hover {
      background-color: #4578AA;
    }

    section {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      margin: 10px 0 10px 0;
    }
  </style>
</head>
<script id="script-global">
  if (!window.isSecureContext) {
    alert('Insecure! Please visit with HTTPS');
    window.history.back();
  }
</script>
<body>

<header>
  <h1>Semel Secure Message</h1>
</header>

<%= content %>

<footer>
  <p><em>Semper Semel Simplex</em></p>
</footer>
</body>
</html>
